{% extends 'base.html' %}

{% load static %}

{% block title %}
Фильмы
{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <p class="display-5 test">Фильмы:</p>
    {% if films %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for object in films %}
      <div class="col">
        <div class="card shadow-sm">
          <a href="{% url 'films' object.id %}" class="img-link">
            <img src=" {{ object.image.url }} " class="img-custom bd-Film-img card-img-top" width="100%" height="225" alt="">
          </a>
          <div class="card-body">
            <h4 class="card-title-text">{{object.title}}</h4>
            <div class="btns-custom d-flex justify-content-between align-items-center">
              <a class="btn btn-custom btn-sm btn-outline-secondary" href="{% url 'films' object.id %}">Смотреть</a>
              {% if object.is_favorite %}
                <form action="{% url 'dislike_film' film_id=object.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-izbr btn-custom btn-sm btn-outline-secondary">В избранном</button>
                </form>
                {% else %}
              <form action="{% url 'like_film' film_id=object.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-custom btn-sm btn-outline-secondary">В избранное</button>
              </form>
              {% endif %}
              {% comment %} <form method="POST"  >
                {% csrf_token %}
                <button type="submit" class="btn btn-custom btn-sm btn-outline-secondary">Избранное</button>
              </form> {% endcomment %}
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="display-6"> Список пуст </p>
    {% endif %}
  </div>
</div>
{% endblock %}

