
{% extends 'base.html' %}

{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
  <p class="display-5 test">Рекомендуем:</p>
</div>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">

      <div class="swipe-wrapper">

        <h2 class="display-5 swipe-wrapper__title">Во все тяжкие</h2>
        <p class="swipe-wrapper__subtitle">Школьный учитель химии Уолтер Уайт узнаёт, что болен раком лёгких. Учитывая сложное финансовое состояние дел семьи, а также перспективы, Уолтер решает заняться изготовлением метамфетамина. Для этого он привлекает своего бывшего ученика Джесси Пинкмана, когда-то исключённого из школы при активном содействии Уайта. Пинкман сам занимался варкой мета, но накануне, в ходе рейда УБН, он лишился подельника и лаборатории.</p>
        <a href="{% url 'serials' 1 %}" class="swipe-wrapper__btn-main btn-main">Подробнее</a>
      </div>
      <img src="{% static 'img/br-bad.jpg' %}" alt="">
    </div>
    <div class="swiper-slide">
      <div class="swipe-wrapper">
        <h2 class="display-5 swipe-wrapper__title">Железный человек</h2>
        <p class="swipe-wrapper__subtitle">Прошло полгода с тех пор, как мир узнал, что миллиардер-изобретатель Тони Старк является обладателем уникальной кибер-брони Железного человека. Общественность требует, чтобы Старк передал технологию брони правительству США, но Тони не хочет разглашать её секреты, потому что боится, что она попадёт не в те руки.</p>
        <a href="{% url 'films' 1 %}" class="swipe-wrapper__btn-main btn-main">Подробнее</a>
      </div>
      
      <img src="{% static 'img/iron-man.jpg' %}" alt="">
    </div>
    
  </div>
  
  <div class="swiper-pagination"></div>
  
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>


{% endblock %}