
{% extends 'base.html' %}

{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
  <p class="display-5 test">Рекомендуем:</p>
</div>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
      {% if recs %}
        {% for film in recs %}
          {% for item in film.name.all %}
          <div class="swiper-slide">
            <div class="swipe-wrapper">
              <h2 class="display-5 swipe-wrapper__title">{{item.title}}</h2>
              <p class="swipe-wrapper__subtitle">{{item.subtitle}}</p>
              <a href="{% url 'films' item.id %}" class="swipe-wrapper__btn-main btn-main">Подробнее</a>
            </div>
            <img src="{{ item.image.url}}" alt="">
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}   
      {% if recs %}
        {% for film in recs %}
          {% for item in film.nameser.all %}
          <div class="swiper-slide">
            <div class="swipe-wrapper">
              <h2 class="display-5 swipe-wrapper__title">{{item.title}}</h2>
              <p class="swipe-wrapper__subtitle">{{item.subtitle}}</p>
              <a href="{% url 'serials' item.id %}" class="swipe-wrapper__btn-main btn-main">Подробнее</a>
            </div>
            <img src="{{ item.image.url}}" alt="">
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}     
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>


{% endblock %}